
    h1{
        font-family: 'Raleway', sans-serif;
    }

    h2{
        font-family: 'Raleway', sans-serif;

    }
    body{

        font-family: 'Roboto', sans-serif;
    }
    footer{
        font-family: 'Raleway', sans-serif;
    }

    :root{
        --header-background-color: orange;
        --header-foreground-color: white;
        --footer-background-color: black;
        --footer-foreground-color: white;
        --nav-background-color: blue;
        --nav-foreground-color: white;
    
    }
    header{
        color: var(--header-foreground-color);
        background: var(--header-background-color);
    }

    nav.bg-dark{
        color: var(--nav-foreground-color);
        background-color: var(--nav-background-color) !important;

      }
    footer{
        color: var(--footer-foreground-color);
        background: var(--footer-background-color);
    }

